<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Administrar Ofertas Especiales</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Oferta {{ofertae.ofeNombre}}
            </div>
             <div class="panel-body" >
                 <!--<div class="form-group">
                    <label>Id:</label>
                    <input class="form-control"  type="text" id="inputId" ng-model="disenoc.disId" placeholder="Id"/>
                </div>-->
                 <div class="form-group">
                    <label>Código:</label>
                    <input class="form-control"  type="text" id="inputNombre" ng-model="ofertae.ofeNombre" ng-value="{{ofertae.ofeNombre}}" placeholder="Código"/>
                </div>
                <div class="form-group">
                    <label>Descuento:</label>
                    <input class="form-control"  type="text" id="inputDescuento" ng-model="disenoc.ofeDescuento" placeholder="Descuento"/>
                </div>
                <div class="form-group">
                    <label>Vigente:</label>
                    <input class="form-control"  type="checkbox" id="inputVigente" ng-model="ofertae.ofeVigente" placeholder="Descuento" ng-checked="ofertae.ofeVigente"/>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-success " ng-click="editAction()">Guardar</button>
            </div>
        </div>
    </div>        
    <!-- /.col-lg-12 -->
</div>
        