<nav class="navbar navbar-default navbar-fixed-top topnav nav-style" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">StampUreStyle</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">Nosotros</a>
                    </li>
                    <li>
                        <a href="#services">Servicios</a>
                    </li>
                    <li>
                        <a href="#contact">Contáctanos</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
</nav>
<a name="about"></a>
<div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Estampa tu estilo</h1>
                        <h3>La plataforma para personalizar lo que usas.</h3>
                        <hr class="intro-divider">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                        <div class="login-panel panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Ingresa</h3>
                                            </div>
                                            <div class="panel-body">
                                                <form name="loginForm" role="form">
                                                    <fieldset>
                                                        <div class="form-group">
                                                            <input ng-model="username" required class="form-control" placeholder="Usuario" name="user" type="text" autofocus>
                                                        </div>
                                                        <div class="form-group">
                                                            <input ng-model="password" required class="form-control" placeholder="Contraseña" name="password" type="password" value="">
                                                        </div>
                                                        <div class="checkbox">
                                                            <label>
                                                                <input name="remember" type="checkbox" value="Remember Me">Recuerdame
                                                            </label>
                                                        </div>
                                                         <button type="submit" ng-disabled="!loginForm.$valid" ng-click="login()" class="btn btn-lg btn-success btn-block">Ingresar</button>
                                                       <!-- Change this to a button or input when using this as a form -->
                                                        <a ui-sref="dashboard.home" class="btn btn-lg btn-success btn-block">Crear Cuenta</a>
                                                    </fieldset>
                                                </form>


                                            </div>
                                        </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>