<div ng-controller="storeController">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Design</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>﻿

    <div class="container-fluid">
        <div class="row-fluid">

            <div class="span8">

                <!-- product info -->
                <table class="table table-bordered">
                    <tr class="well">
                        <td class="tdRight" colspan="3" >
                            <a href="#/dashboard/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                                <i class="fa fa-shopping-cart" />
                                <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
                                <span ng-show="cart.getTotalCount(product.proId) > 0"><br />this item is in the cart</span>
                            </a>
                        </td>
                    </tr>

                    <tr>
                        <td class="tdRight"><b>Size</b></td>
                        <td><select ng-model="producto.size"  class="form-control">
                                <option>S</option>
                                <option>M</option>
                                <option>L</option>
                            </select> </td>
                    </tr>
                    <tr>
                        <td class="tdRight"><b>Text</b></td>
                        <td><input ng-model="producto.text" class="form-control" placeholder="Enter text"></td>
                    </tr>
                    <tr>
                        <td class="tdRight"><b>Color</b></td>
                        <td> <input ng-model="producto.color" name="color" type="color" /></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <p class="text-center">
                                <img ng-src="img/products/{{product.proUrl}}" alt="{{product.proNombre}}"/>
                            </p> 
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <!-- Catalog -->
                            <div class="panel-body">
                                <div>
                                    <div class="row">
                                        <p>
                                            <strong class="primary-font"> List </strong> <input type="checkbox" ng-model="checked" aria-label="Toggle ngShow"><br/>
                                            Search: <input ng-model="search">
                                        </p>
                                        <!-- Button trigger modal -->
                                        <div ng-hide="checked" class="panel panel-default">
                                            <div  class=" panel panel-default col-lg-2 col-md-2 col-sm-3 col-xs-4" ng-repeat="design in desings| orderBy:'disNombre'  | filter:search">
                                                <p class="panel-body" data-toggle="modal" data-target="#myModal{{design.disId}}">
                                                    <img ng-src="data/{{design.disUrl}}" width='100' height='100' alt="{{design.disNombre}}"/>
                                                </p>
                                                <!-- Modal -->
                                            </div>
                                        </div>

                                        <div class="panel panel-default" ng-show="checked">

                                            <table class="table table-bordered">
                                                <tbody>
                                                    <tr ng-repeat="design in desings| orderBy:'disNombre' | filter:search">
                                                        <td class="tdCenter">
                                                            <img ng-src="data/{{design.disUrl}}" width='100' height='100' alt="{{design.disNombre}}" />
                                                        </td>
                                                        <td class="tdCenter">
                                                            <a class="panel-body" data-toggle="modal" data-target="#myModal{{design.disId}}">
                                                               {{design.disNombre}} 
                                                            </a>
                                                        </td>
                                                        <td class="tdCenter">
                                                            {{ design.disValor| currency}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <!-- /.modal -->
                                    </div>
                                </div>

                                <div  ng-repeat="design in desings">
                                    <div class="modal fade" id="myModal{{design.disId}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">{{design.disNombre}}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table table-bordered">
                                                        <tr>
                                                            <td colspan="2">
                                                                <p class="text-center">
                                                                    <img ng-src=" data/{{design.disUrl}}" width='200' height='200' alt="{{design.disNombre}}"/>
                                                                </p> 
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="tdRight"><b>Price</b></td>
                                                            <td> {{design.disValor| currency}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="tdRight"><b>Author</b></td>
                                                            <td> {{design.usuId.perId.perPrimerNombre}} {{design.usuId.perId.perPrimerApelido}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="tdRight"><b>Position</b></td>
                                                            <td><select class="form-control">
                                                                    <option>Adelante</option>
                                                                    <option>Atras</option>
                                                                </select> 
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cart.listarProductos()">Close</button>
                                                    <button type="button" class="btn btn-primary" ng-click="cart.addDesign(design.disId, design.disNombre, design.disValor, 1)" data-dismiss="modal">Add</button>
                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="well">
                        <td class="tdRight" colspan="3" >
                            <a href="#/dashboard/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                                <i class="fa fa-shopping-cart" />
                                <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
                                <span ng-show="cart.getTotalCount(product.proId) > 0"><br />this item is in the cart</span>
                            </a>
                        </td>
                    </tr>

                </table>
            </div>

            <!-- buttons -->
            <div class="span4">
                <button 
                    class="btn btn-block btn-success" 
                    ng-click="cart.addProduct(product.proId, product.proNombre, product.proValor, 1)">
                    <i class="icon-shopping-cart icon-white" /> add to cart
                </button>
                <button 
                    class="btn btn-block btn-danger"  
                    ng-click="cart.removeItem(product.proId, product.proNombre, product.proValor, -1)"
                    ng-disabled="cart.getTotalCount(product.proId) < 1">
                    <i class="icon-trash icon-white" /> remove from cart
                </button>
                <button 
                    class="btn btn-block" 
                    onclick="window.location.href = 'index.html#/dashboard/products'">
                    <i class="icon-chevron-left" /> back to store
                </button>

            </div>

        </div>
    </div>

</div>

