<div ng-controller="storeController">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Product Catalog</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="primary-font"> List </strong> <input type="checkbox" ng-model="checked" aria-label="Toggle ngShow"><br/>
            <p>
                Search: <input ng-model="search">
            </p>
        </div>

        <div ng-hide="checked" class="panel panel-default">
            <div class="panel-heading text-right"> 
                <a class="center-block" href="#/dashboard/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                    <i class="fa fa-shopping-cart" />
                    <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
                </a>
            </div>
            <div>
                <div class="row panel-body">
                    <!-- Button trigger modal -->
                    <div  class=" panel panel-default col-lg-2 col-md-2 col-sm-3 col-xs-4" ng-repeat="product in products| orderBy:'proNombre'  | filter:search">
                        <a class="center-block" href="#/dashboard/designs/{{product.proId}}">
                            <p>
                                <img ng-src="img/products/{{product.proUrl}}.jpg"  width='150' height='150' alt="{{product.proNombre}}"/>
                            </p>
                        </a>
                        <!-- Modal -->
                    </div>
                    <!-- /.modal -->
                </div>
            </div>
            <div class="panel-footer text-right"> 
                <a class="center-block" href="#/dashboard/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                    <i class="fa fa-shopping-cart" />
                    <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
                </a>
            </div>
        </div>


        <div class="panel panel-default" ng-show="checked">

            <table class="table table-bordered">
                <tr class="well">
                    <td class="tdRight" colspan="4" >
                        <a href="#/dashboard/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                            <i class="fa fa-shopping-cart" />
                            <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
                        </a>
                    </td>
                </tr>
                <tbody>
                    <tr ng-repeat="product in products| orderBy:'proNombre' | filter:search">
                        <td class="tdCenter">
                            <img ng-src="img/products/{{product.proUrl}}.jpg" alt="{{ product.proNombre}}" />
                        </td>
                        <td class="tdCenter">
                            <a href="#/dashboard/designs/{{product.proId}}"><b>{{ product.proNombre}}</b></a><br />
                        </td>
                        <td class="tdCenter">
                            {{ product.proValor| currency}}
                        </td>
                    </tr>
                    <tr class="well">
                        <td class="tdRight" colspan="4">
                            <a href="#/dashboard/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                                <i class="fa fa-shopping-cart" />
                                <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div> 
</div> 
