<div ng-controller="storeController">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Shopping Cart</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8">

                <!-- items -->
                <table class="table table-bordered">

                    <!-- header -->
                    <tr class="well">
                        <td><b>Item</b></td>
                        <td class="tdCenter"><b>Quantity</b></td>
                        <td class="tdRight"><b>Price</b></td>
                        <td />
                    </tr>

                    <!-- empty cart message -->
                    <tr ng-hide="cart.getTotalCount() > 0" >
                        <td class="tdCenter" colspan="4">
                            Your cart is empty.
                        </td>
                    </tr>

                    <!-- cart items -->
                    <tr ng-repeat="item in cart.items| orderBy:'name'">
                        <td>{{item.name}}</td>
                        <td class="tdCenter">
                            <div class="input-append">
                                <!-- use type=tel instead of  to prevent spinners -->
                                <input
                                    class="span3 text-center" type="tel" 
                                    ng-model="item.quantity" 
                                    ng-change="cart.saveItems()" />
                                <button 
                                    class="btn btn-success" type="button" 
                                    ng-disabled="item.quantity >= 1000"
                                    ng-click="cart.addItem(item.sku, item.name, item.price, +1)">+</button>
                                <button 
                                    class="btn btn-inverse" type="button" 
                                    ng-disabled="item.quantity <= 1"
                                    ng-click="cart.addItem(item.sku, item.name, item.price, -1)">-</button>
                            </div>
                        </td>
                        <td class="tdRight">{{item.price * item.quantity| currency}}</td>
                        <td class="tdCenter" title="remove from cart">
                            <a href="" ng-click="cart.addItem(item.sku, item.name, item.price, -10000000)" >
                                <i class="icon-remove" />
                            </a>
                        </td>
                    </tr>

                    <!-- footer -->
                    <tr class="well">
                        <td><b>Total</b></td>
                        <td class="tdCenter"><b>{{cart.getTotalCount()}}</b></td>
                        <td class="tdRight"><b>{{cart.getTotalPrice() | currency}}</b></td>
                        <td />
                    </tr>
                </table>
            </div>

            <!-- buttons -->
            <div class="span4">
                <p class="text-info">
                    <button 
                        class="btn btn-block" 
                        onclick="window.location.href = 'index.html#/dashboard/products'">
                        <i class="icon-chevron-left" /> back to store
                    </button>
                    <button 
                        class="btn btn-block btn-danger" 
                        ng-click="cart.clearItems()" 
                        ng-disabled="cart.getTotalCount() < 1" >
                        <i class="icon-trash icon-white" /> clear cart
                    </button>
                </p>

                <br /><br />

                <p class="text-info">
                    <button
                        class="btn btn-block btn-lg" data-toggle="modal" data-target="#modalCreditCart"
                        ng-disabled="cart.getTotalCount() < 1">
                        <i class="icon-ok icon-white" />Checkout con Tarjeta de Crédito
                    </button>
                    <button 
                        class="btn btn-block btn-link" data-toggle="modal" data-target="#modalCreditCart"
                        ng-disabled="cart.getTotalCount() < 1" >
                        <img src="http://www.iconmay.com/thumbnails/detail/3/credit%20card%20payment%20method%20paying%20charge%20online%20payments%20credit%20card%20icon.png" alt="checkout Credit Card"/>
                    </button> 
                    <!-- Modal -->
                    <div class="modal fade" id="modalCreditCart" tabindex="-1" role="dialog" aria-labelledby="modalCreditCart" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="modalCreditCart">Pagar con tarjeta de Crédito</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="pais" >País</label>
                                        <input class="form-control" id="pais" type="text" placeholder="País" 
                                                ng-value="{{pagoTarjeta.pais}}" ng-model="pagoTarjeta.pais">
                                    </div>
                                    <div class="form-group">
                                        <label for="ciudad" >Ciudad</label>
                                        <input class="form-control" id="ciudad" type="text" placeholder="Ciudad" 
                                               ng-disabled="disabled" ng-value="{{pagoTarjeta.ciudad}}" ng-model="pagoTarjeta.ciudad">
                                    </div>
                                    <div class="form-group">
                                        <label for="direccion" >Dirección</label>
                                        <input class="form-control" id="direccion" type="text" placeholder="Direccion" 
                                               ng-disabled="disabled" ng-value="{{pagoTarjeta.direccion}}" ng-model="pagoTarjeta.direccion">
                                    </div>
                                    <div class="form-group">
                                        <label>Tipo</label>
                                        <select class="form-control" ng-model="pagoTarjeta.tipo" ng-if="!disabled"
                                                ng-options="tipo for tipo in tipos" 
                                                id="selectTipos" >
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="direccion" >Número Tarjeta</label>
                                        <input class="form-control" id="numTarjeta" type="text" placeholder="Número de Tarjeta" 
                                               ng-disabled="disabled" ng-value="{{pagoTarjeta.numTarjeta}}" ng-model="pagoTarjeta.numTarjeta">
                                    </div>
                                    <div class="form-group">
                                        <input class="tdCenter" id="validaHasta" type="text" placeholder="MM/YY" 
                                               ng-disabled="disabled" ng-value="{{pagoTarjeta.validaHasta}}" ng-model="pagoTarjeta.validaHasta">
                                        <input class="tdRight" id="CVC" type="text" placeholder="cvc" 
                                               ng-disabled="disabled" ng-value="{{pagoTarjeta.cvc}}" ng-model="pagoTarjeta.cvc">
                                    </div>
                                   
                                    <label  >Total:</label>
                                    <div class="form-group input-group">
                                        <span class="input-group-addon"><b>{{cart.getTotalPrice() | currency}}</b></span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" ng-click="createAction()">Checkout</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                            </div>
                            <!-- /.modal -->
                    <button 
                        class="btn btn-block btn-primary" 
                        ng-click="cart.checkout('PayPal')" 
                        ng-disabled="cart.getTotalCount() < 1">
                        <i class="icon-ok icon-white" /> check out using PSE
                    </button>
                    <button 
                        class="btn btn-block btn-link" 
                        ng-click="cart.checkout('PayPal')" 
                        ng-disabled="cart.getTotalCount() < 1" >
                        <img src="http://www.siminmueble.com/s1m1w3bj00mla/images/stories/img-3.jpg" alt="checkoutGoogle"/>
                    </button>   
                </p>
                <!-- Stripe needs a form to post to -->
                <form class="form-stripe"></form>

                <br /><br />

            </div>
        </div>
    </div>
</div>
