catalogo
products
searchProducts
rateproducts
design
searchDesign
RateDesigns
views
gallery
list
shoppingcart
productadmin
productDesign
size
text
color
stampDesign
pay
creditcart
pse
user
session
login
logout
updateProfile
changePassword
changeAddress
createAccount
reports
rating
Design
DesignByArtist
sales
ByArtist
ByPeriod
socialnetwork
facebook
specialoffers
createPromo
updatePromo
QualityAttributes
configurability
scalability
functionability
performance
tipodeaplicacion
avanzado
