<h3>Bienvenido a nuestra oficina virtual!</h3>
<div>
         <img src="img/banco.png" alt=""/>
</div>
<h5>Para brindarle el servicio solicitado,<br> seleccione el canal por 
el cual desea realizar su pago: </h5>

<div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                           <div class="form-group">
                                
                                <label class="radio-inline">
                                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked>personas
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">empresas
                                </label>
                           </div>
                            <div class="form-group">
                                <label>Numero de documento</label>
                                <input class="form-control" placeholder="cedula" ng-model="user.cedula">
                            </div>
                            <div class="form-group">
                                <label>Clave de Internet</label>
                                <input type="password"  class="form-control" placeholder="contrasena" ng-model="user.contrasena">
                            </div>
                            <p><button  type="button" class="btn btn-danger" ng-click="validar()">entrar</button></p>
                        </form>
                    </div>
                  
                </div>
      <p>Por seguridad, no olvide <font color="red" >CERRAR LA SESIÓN</font>
                        una vez termine de realizar sus transacciones.</p>

      <p> <strong><font color="red" >Pasos para obtener su Clave Internet</font></strong></p>

          <p><strong><font color="red" ><></font></strong>Para clientes que no tienen tarjeta débito, haga clic aquí.</p>
          <p><strong><font color="red" ><></font></strong>Para clientes con Tarjeta Débito llame al Teléfono Rojo y solicítela en la opción 3 "Servicios Especiales".</p>
          <p><strong><font color="red" ><></font></strong>Teléfono Rojo: Bogotá 6060800 - Medellín 2515253 - Cali 8890574 - Barranquilla 3511922 - Bucaramanga 6333334<br> Pereira 3387200- Otras Ciudades 01 8000 911 166.</p>
          <p><strong><font color="red" ><></font></strong>Para solicitar su Clave Internet, es necesario tener activa su Segunda Clave.</p>
          <p><strong><font color="red" ><></font></strong>Para obtener su Segunda Clave debe solicitarla en cualquiera de nuestras oficinas del país y luego realizar<br>el cambio en el Teléfono Rojo.</p>
          <p><strong><font color="red" ><></font></strong>En caso de olvidar o bloquear su Clave Internet, comuníquese con nuestro Call Center y solicite una nueva.</p>
          <b>  Call Center: Bogotá 338 3838 - Otras Ciudades de Colombia 01 8000 123 838</b>
</div>
