<div>
    <img src="img/banco.png" alt="" height="70" width="150"/>
</div>
<hr>

<div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                           <div class="form-group">
                                <label>introduzca los cuatro ultimos numeros de su tarjeta debito</label>
                                <input class="form-control" placeholder="introduzca 2343" ng-model="user.debito">
                            </div>
                            <div class="form-group">
                                <label>introduzca clave tarjeta debito</label>
                                <input class="form-control" placeholder="introduzca 11111" ng-model="user.cedula">
                            </div>
                             <div class="form-group">
                                <label>introduzca numero de documento</label>
                                <input class="form-control" placeholder="introduzca 1456" ng-model="user.clave">
                            </div>
                             
                            
                            
                        </form>
                                
                        <p><button ng-click="entrarBanco()" type="button" class="btn btn-danger btn-lg btn-block">entrar</button></p>
                        
                    </div>
                        
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            
