<div>
    <img src="img/banco.png" alt="" height="70" width="150"/>
</div>
<hr> <a ui-sref="dashboard.home"><i>logout</i></a>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
               Resumen transaccion
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#comprobante</th>
                                <th>cuenta</th>
                                <th>debito</th>
                                <th>saldo</th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            <tr>
                                <td>00-9089890-9</td>
                                <td>155784245627</td>
                                <td>50.000</td>
                                <td>4,519,099</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    
</div>

<hr>
