<hr>
<div class="alert alert-success col-lg-12" role="alert">
  <a href="#" class="alert-link">¡Felicitaciones! Transacción Exitosa</a>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
               Resumen de la Transacción
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Pais</th>
                                <th>Ciudad</th>
                                <th>Dirección</th>
                                <th>Tipo de Pago</th>
                                <th>Total</th>
                            </tr>                            
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{compra.usuId.usuUsuario}}</td>                                
                                <td>{{compra.comPais}}</td>
                                <td>{{compra.comCiudad}}</td>
                                <td>{{compra.comDireccion}}</td>
                                <td>{{compra.tipPagId.tipPagNombre}}</td>
                                <td>{{compra.comValor}}</td>
                            </tr>                           
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>      
                     
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <div class="col-lg-12" id="panel-share"> 
            <input class="share-button" type="image" src="img/utils/share-twitter.jpg" alt="Submit" data-toggle="modal" data-target="#modalShare" ng-click="getInfo()">
             <div class="modal fade" id="modalShare" tabindex="-1" role="dialog" aria-labelledby="modalShare" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="modalCreditCart">Share with your friends</h4>
                        </div>
                        <div class="modal-body">
                            <div ng-bind-html="sharePost"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="shareAction()">Share</button>
                        </div>
                    </div>
                            <!-- /.modal-content -->
                </div>
                        <!-- /.modal-dialog -->
            </div>
        </div>    
    </div>   
</div>
<hr>
