<div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Reporte de Ventas Por Artista</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
<!-- /.row -->
            
                
                
                <!-- /.col-md-8 
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            
                            Características
                            
                        </div>
                        <div class="panel-body container_full_image" >
                            <div class="form-group">
                                <label for="nombre" >Nombre:</label>
                                <input class="form-control" id="nombre" type="text" placeholder="Nombre" 
                                       ng-disabled="disabled" ng-value="{{diseno.disNombre}}" ng-model="diseno.disNombre">
                            </div>
                            <label  >Valor:</label>
                            <div class="form-group input-group">
                               
                                <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                 
                                <input type="text" id="valor" class="form-control" ng-value="{{diseno.disValor}}" 
                                       placeholder="Valor" ng-disabled="disabled" ng-model="diseno.disValor">
                                <span class="input-group-addon">.00</span>
                            </div>
                            <div class="form-group">
                                <label>Categoria:</label>
                                <input class="form-control" id="selectCategoria" type="text" placeholder="Categoria" 
                                       ng-disabled="disabled" ng-model="diseno.catId.catNombre" ng-if="disabled">
                                <select class="form-control" ng-model="diseno.catId" ng-if="!disabled"
                                        ng-options="cat as cat.catNombre for cat in categorias" 
                                        id="selectCategoria" >
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Estilo:</label>
                                <input class="form-control" id="selectEstilo" type="text" placeholder="Estilo" 
                                       ng-disabled="disabled" ng-model="diseno.estId.estNombre" ng-if="disabled">
                               
                                <select class="form-control" ng-model="diseno.estId" ng-if="!disabled"
                                        ng-options="est as est.estNombre for est in estilos" 
                                        id="selectEstilo" >
                                </select>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default" ng-click="edit()" ng-if="disabled">Editar</button>
                            <button class="btn btn-warning" ng-click="edit()" ng-if="!disabled">Cancelar</button>
                            <button class="btn btn-success" ng-click="updateAction()" ng-if="!disabled">Guardar</button>
                        </div>
                    </div>
                    
                    
                </div>
                -->
                
                <!-- /.col-lg-4 -->
           
<!--<div class="row">
    <table class="table table-striped table-condensed">
        <thead>
        <tr>
            <th style="min-width: 80px;">First name</th>
            <th style="min-width: 80px;">First name</th>
            <th style="width:20px;"> </th>
            <th style="width:20px;"> </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{ user.usuUsuario }}</td>
             <td>{{ user.perId.perDireccion}}</td>
                <td><a ng-click="editUser(user.usuId)" class="btn btn-small btn-primary">edit</a></td>
            <td><a ng-click="deleteUser(user.usuId)" class="btn btn-small btn-danger">delete</a></td>
        </tr>
        </tbody>
    </table>
    <a ng-click="createNewUser()" class="btn btn-small">create new user</a>
</div>-->

<div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel panel-heading">
                             Ventas de Artista / Mes - Año
                            </div> 
                        <div class="panel-body" >
                            
                            
                            <div class="form-group">
                                <label>Filtrar por Mes</label>
                                <select ng-click="setTab(false)"
                                        ng-options="month.num as month.mes for month in meses" ng-model="meseslist" class="form-control" >
                                </select>
                            </div>
                            

                            <div class="table-responsive" ng-show="tab == false">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            
                                            <th >
                                                Nombre Artista
                                         
                                            </th>
                                            <th>
                                                Apellido Artista
                                                
                                            </th>
                                            <th>
                                                Mes
                                                
                                            </th>
                                            <th>
                                                Año
                                                
                                            </th>
                                            <th>
                                                Valor Total en Pesos
                                                
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="reporte in repventas | filter:{mes:meseslist}">
                                            <th>{{reporte.nombre}}</th>
                                            <td>{{reporte.apellido}}</td>
                                            <td>{{reporte.mes | monthName}}</td>
                                            <td>{{reporte.ano}}</td>
                                            <td>{{reporte.total | currency}}</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                           
                            <div class="table-responsive" ng-show="tab == true">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            
                                            <th >
                                                Nombre Artista
                                         
                                            </th>
                                            <th>
                                                Apellido Artista
                                                
                                            </th>
                                            <th>
                                                Mes
                                                
                                            </th>
                                            <th>
                                                Año
                                                
                                            </th>
                                            <th>
                                                Valor Total en Pesos
                                                
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="reporte2 in repventas">
                                            <th>{{reporte2.nombre}}</th>
                                            <td>{{reporte2.apellido}}</td>
                                            <td>{{reporte2.mes | monthName}}</td>
                                            <td>{{reporte2.ano}}</td>
                                            <td>{{reporte2.total | currency}}</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
