<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Registro Usuarios</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
               Formulario de registro
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Elija Tipo De Usuario</label><p></p><p></p>
                                <label class="radio-inline">
                                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="2" ng-model="perfil">Cliente
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="3" ng-model="perfil">Artista
                                </label><p></p><p></p>
                            <div class="form-group">
                                <label>Nombre</label>
                                <input class="form-control" placeholder="Enter text" ng-model="person.perPrimerNombre">
                            </div>
                                <div class="form-group">
                                <label>Apellido</label>
                                <input class="form-control" placeholder="Enter text" ng-model="person.perPrimerApelido">
                            </div>
                                    <div class="form-group">
                                        <label>Tipo De Documento</label><p></p><p></p>
                                <label class="radio-inline">
                                    <input type="radio" name="tipoDocumento" ng-model="person.perTipoDocumento" id="optionsRadiosInline1" value="CC" checked>Cedula
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="tipoDocumento" ng-model="person.perTipoDocumento" id="optionsRadiosInline2" value="TI">Pasaporte
                                </label>
                                </div>
                                 <div class="form-group">
                                <label>Documento Numero</label>
                                <input class="form-control" placeholder="Enter text" ng-model="person.perNumeroDocumento">
                            </div>
                                </div>
                            </div>
                        </form> 
                    </div>
                               <div class="col-lg-6"> 
                                   <form role='form'>
                                 <div class="form-group">
                                <label>Direccion</label>
                                <input class="form-control" placeholder="Enter text" ng-model="person.perDireccion">
                            </div>
                                <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" placeholder="Enter text" ng-model="person.perEmail">
                            </div>
                                <div class="form-group">
                                <label>Contrasena</label>
                                <input class="form-control" type="password" placeholder="Enter text" ng-model="usuario.usuContrasena">
                            </div>
                                 <label>Elija Usuario Para su cuenta</label>
                               <div class="form-group input-group">
                                <span class="input-group-addon">@</span>
                                <input type="text" class="form-control" placeholder="Username" ng-model="usuario.usuUsuario">
                            </div> 
                               
                          
                                   </form>  
                    </div>
                                            
<!-- /.col-lg-6 (nested) -->

                </div>
                <!-- /.row (nested) -->
                 <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="reset()">Reset</button>
                                 <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="cargarDatos()">Registrarse</button> 
                          
            </div>  
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>